@import "./assets";
@import "./base";

section.hero {
    position: relative;
    top: -5em;
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;

    .heroImg {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100vh + 5em);
        z-index: 0;
        background: url('../images/hero-coffee.jpg');
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        filter: brightness(0.75) blur(2px) contrast(0.75);
        animation: onload 2s forwards;
    }

    .cta {
        position: relative;
        margin: auto;
        animation: movedown 2s forwards;
    }

    h1, p, a, .btn {
        margin: auto;
        width: fit-content;
        text-decoration: none;
        color: $headText;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    p {
        font-family: 'Twinkle Star', cursive;
        font-size: 3rem;
        font-style: italic;
        font-weight: 400;
        line-height: 0.5em;
    }
    
    .btn {
        display: block;
        padding: 1.2em 2em;
        background-color: $nav;
        border: #fff 0.15em solid;
        border-radius: 0.25em;
        margin: 1.5em auto;
        transition-duration: 1s;

        &:hover {
            background: #000;
            border: #000 0.15em solid;
        }
    }

    .downArrow {
        display: block;
        position: absolute;
        bottom: 2em;
        width: 2.5em;
        margin: 0 calc(50% - 1.25em);
        animation: arrow 0.8s alternate-reverse infinite;
        filter: invert(100%);
    }

}

section.about {
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
    display: grid;
    grid-auto-flow: row;
    gap: 1.5em;

    .content {
        background: rgba(255, 255, 255, 0.5);
        padding: 2em;
    }

    h1 {
        font-size: 2rem;
    }

    img {
        width: 100%;
        height: 30em;
        object-fit: cover;
        object-position: 0 88%;
    }
}

@media only screen and (min-width: 920px) {
    section.about {
        grid-template-columns: 1fr 1fr;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3em;
        }
    }
    
}

@keyframes arrow {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15%);
    }
}

@keyframes movedown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}